# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo]bj/
[Ll]og/

# Visual Studio files
*.user
*.aps
*.ncb
*.opendb
*.suo
*.sln.docstates
*.suo
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*
*.vcproj.*
*.vspscc
*.vssscc
*.vspx
*.vstemplate
*.obj
*.pdb
*.cache
*.ilk
*.log
*.tlog
*.exe
*.dll
*.manifest
*.res
*.pch
*.idb
*.ipch
*.aps
*.apsx
*.asmx
*.aspx
*.axd
*.browser
*.cd
*.compiled
*.config
*.csproj
*.csproj.user
*.csproj.webinfo
*.dbmdl
*.disco
*.dsym
*.dtd
*.edmx
*.exclude
*.generated.cs
*.generated.vb
*.hxc
*.hxe
*.hxf
*.hxh
*.hxj
*.hxw
*.hxwi
*.hxwp
*.hxws
*.hxwt
*.ico
*.idl
*.ilk
*.inc
*.inf
*.inl
*.ipdb
*.jfm
*.jrt
*.jxr
*.jxs
*.jxw
*.ldd
*.lddlink
*.ldf
*.licx
*.lnk
*.lsd
*.lsdvdproj
*.lsproj
*.map
*.mdf
*.mk
*.msbuildlog
*.msi
*.msm
*.msp
*.mst
*.nlp
*.nls
*.nupkg
*.obj
*.old
*.opensdf
*.orig
*.pch
*.pdm
*.pfx
*.pgc
*.pgd
*.pkgdef
*.pkgundef
*.plg
*.plog
*.plp
*.pma
*.pmdb
*.pobj
*.ppw
*.prc
*.prl
*.ps1xml
*.psess
*.psm1
*.psmdcp
*.psmodule
*.pyc
*.pyo
*.qbk
*.rc
*.rc2
*.rct
*.rdlc
*.res
*.resx
*.rgs
*.rptproj
*.ruleset
*.sdm
*.sdmDocument
*.sdmdocument
*.sdl
*.sdmproj
*.sdproj
*.sds
*.sdv
*.sdx
*.shfbproj
*.sln
*.sln.docstates
*.slnx
*.sma
*.suo
*.svclog
*.swp
*.targets
*.tds
*.testrunconfig
*.testsettings
*.tlb
*.tmp
*.tp
*.trx
*.tt
*.ttinclude
*.ttschema
*.udl
*.user
*.vbproj
*.vbproj.user
*.vbproj.webinfo
*.vbw
*.vcproj
*.vcproj.*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vdproj
*.vjsproj
*.vjsproj.*
*.vsd
*.vsi
*.vsix
*.vsmdi
*.vspscc
*.vssscc
*.vstemplate
*.vsto
*.vsw
*.vsx
*.vtx
*.wixproj
*.wmdb
*.wmp
*.wmpl
*.wms
*.wmz
*.wpl
*.wsc
*.wsdl
*.wsf
*.wsh
*.xap
*.xbap
*.xll
*.xoml
*.xslt
*.xtm
*.yml
*.yml.build
*.yml.publish
*.yml.schema
*.yml.tests
*.yml.vstest
*.zip
